---
const skills = [
  ['csharp', 'C#'],
  ['dotnet', '.NET'],
  ['html', 'HTML'],
  ['css', 'CSS'],
  ['tailwind', 'TailwindCSS'],
  ['javascript', 'JavaScript'],
  ['typescript', 'TypeScript'],
  ['node', 'NodeJS'],
  ['express', 'Express'],
  ['qwik', 'Qwik JS'],
  ['react', 'React'],
  ['astrojs', 'Astro'],
  ['next', 'NextJS'],
  ['redux', 'Redux'],
  ['sequelize', 'Sequelize'],
  ['graphql', 'GraphQL'],
  ['postgresql', 'PostgreSQL'],
  ['mongo', 'MongoDB'],
  ['expo', 'Expo'],
];

import { data } from '../libs/data.js';
import CardProject from './Card-project.astro';
import CardSkill from './Card-skill.astro';
---

<section id='my-job' class=''>
  <h2>¿Qué hago?</h2>
  <p class='text-pretty mt-5'>Te comparto algunos de los proyectos que he realizado y las tecnologías que manejo.</p>
  <div class='flex flex-col-reverse mt-4 gap-10'>
    <article class='flex flex-col w-full'>
      <h3 class='dark:text-amber-500 text-amber-600 text-2xl font-bold mx-auto'>Habilidades</h3>
      <div
        class='grid grid-cols-2 sm:grid-cols-3 gap-4 w-full md:flex md:flex-wrap md:justify-center md:gap-4 mt-6 md:px-4'
      >
        {skills.map((skill) => <CardSkill skill={skill} />)}
      </div>
    </article>
    <article class='flex flex-col w-full'>
      <h3 class='dark:text-amber-500 text-amber-600 text-2xl font-bold mx-auto'>Proyectos</h3>
      <div class='grid sm:grid-cols-2 gap-3 w-full justify-center mt-4'>
        {
          data.map((project) => (
            <CardProject
              description={project.description}
              name={project.name}
              urlCode={project.code}
              urlDemo={project.demo}
              image={project.image}
            />
          ))
        }
      </div>
    </article>
  </div>
</section>
